<div class="trade-box {{box_classes}}">
  <div class='player'>
    <div class='player-name'></div>
    <div class='player-image-marker'></div>
    <div class='player-image'></div>
    <div class='player-hit-counter'></div>
    <div class='player-ready-marker'>
      <img src='images/gameboard/ready_flag.png'>
    </div>
  </div>
  <div class='trade-inventory'>
    <div class='resource'></div>
    <div class='resource'></div>
    <div class='resource'></div>
    <div class='resource'></div>
    <div class='resource'></div>
    <div class='resource'></div>
    <div class='resource'></div>
    <div class='resource'></div>
  </div>
</div>