<div class="trade-box {{box_classes}}">
  <div class='player'>
    <div class='player-name'></div>
    <div class='player-image-marker'></div>
    <div class='player-image'></div>
  </div>
  <div class='trade-inventory'>
    <div class='resource'></div>
    <div class='resource'></div>
    <div class='resource'></div>
    <div class='resource'></div>
    <div class='resource'></div>
    <div class='resource'></div>
    <div class='resource'></div>
    <div class='resource'></div>
  </div>
</div>