<html>
  <head>
    <link rel="stylesheet" type="text/css" href="styles/layout.css"/>
    <link rel="stylesheet" type="text/css" href="styles/game.css"/>
    <link rel="stylesheet" type="text/css" href="styles/sidebar.css"/>
    <link rel="stylesheet" type="text/css" href="styles/scroll.css"/>
    <script src="javascript/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Gloria+Hallelujah" rel="stylesheet">
    <!-- <link href="https://fonts.googleapis.com/css?family=Caveat" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kalam" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Handlee" rel="stylesheet"> -->


    <title>Poison the Well</title>
  </head>
  <body>
    <section>
      {{{body}}}
    </section>
  </body>
  {{> footer }}
</html>