<div class="game">
  <div class="gameboard">
    <img src='images/gameboard/courtyard.png' class="board">
    <div class="trade-box horizontal-box box-1">
      <div class='player'>
        <div class='player-name'></div>
        <div class='player-image'></div>
      </div>
      <div class='trade-inventory'>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
      </div>
    </div>
    <div class="trade-box horizontal-box box-5">
      <div class='player'>
        <div class='player-name'></div>
        <div class='player-image'></div>
      </div>
      <div class='trade-inventory'>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
      </div>
    </div>
    <div class="trade-box vertical-box box-2">
      <div class='player'>
        <div class='player-name'></div>
        <div class='player-image'></div>
      </div>
      <div class='trade-inventory'>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
      </div>
    </div>
    <div class="trade-box vertical-box box-6">
      <div class='player'>
        <div class='player-name'></div>
        <div class='player-image'></div>
      </div>
      <div class='trade-inventory'>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
      </div>
    </div>
    <div class="trade-box horizontal-box box-3">
      <div class='player'>
        <div class='player-name'></div>
        <div class='player-image'></div>
      </div>
      <div class='trade-inventory'>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
      </div>
    </div>
    <div class="trade-box horizontal-box box-7">
      <div class='player'>
        <div class='player-name'></div>
        <div class='player-image'></div>
      </div>
      <div class='trade-inventory'>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
      </div>
    </div>
    <div class="trade-box vertical-box vertical-left box-4">
      <div class='player'>
        <div class='player-name'></div>
        <div class='player-image'></div>
      </div>
      <div class='trade-inventory'>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
      </div>
    </div>
    <div class="trade-box vertical-box vertical-left box-8">
      <div class='player'>
        <div class='player-name'></div>
        <div class='player-image'></div>
      </div>
      <div class='trade-inventory'>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
      </div>
    </div>
  </div>
  <div class="sidebar">
    <img src='images/gameboard/sidebar.png' class="layout">
    <div class="section header-info">
      <div class='player-name'></div>
      <div class='player-image'></div>
      <div class="food-requirement">
        <div class='label'>Food:</div>
        <div class='resource-list'>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
        </div>
      </div>
      <div class="victory-point-requirement">
        <div class='label'>Victory Point:</div>
        <div class='resource-list'>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
        </div>
      </div>
    </div>
    <div class="section worker-info">
      <div class='title'></div>
      <div class='dead'></div>
      <div class='dead'></div>
      <div class='dead'></div>
      <div class='dead'></div>
      <div class="worker-list">
         <div class='worker'>
          <select id='worker1'>
            {{~#each game.resources~}}
              <option value="{{this}}">{{this}}</option>
            {{~/each~}}
          </select>
        </div>
         <div class='worker'>
          <select id='worker2'>
            {{~#each game.resources~}}
              <option value="{{this}}">{{this}}</option>
            {{~/each~}}
          </select>
        </div>
         <div class='worker'>
          <select id='worker3'>
            {{~#each game.resources~}}
              <option value="{{this}}">{{this}}</option>
            {{~/each~}}
          </select>
        </div>
         <div class='worker'>
          <select id='worker4'>
            {{~#each game.resources~}}
              <option value="{{this}}">{{this}}</option>
            {{~/each~}}
          </select>
        </div>
      </div>
    </div>
    <div class="section home-inventory">
      <div class='title'>Resources:</div>
      <div class='resource-long-list'>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
      </div>
    </div>
    <div class="section market-inventory">
      <div class='title'>Resources at market:</div>
      <div class='resource-list'>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
      </div>
    </div>
    <div class="section tradebox">
      <div class='title'>Trading:</div>
      <div class="my-trade">
        <div class='resource-list'>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
        </div>
      </div>

      <div class="their-trade">
        <div class="player-image"></div>
        <div class="player-name"></div>
        <div class='resource-list'>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var socket = io.connect("{{root_url}}");
var player_id = localStorage.getItem("playerID");

socket.on('connect', function(data) {
  socket.emit('get-match-data', player_id);
});

var review;
socket.on('match-data', function(data) {
  review = data;

  // DEBUG
  data.player = data.game.players[3];

  init_sidebar(data.player);
  players = data.game.players;

  for (var i=0; i < players.length; i++) {
    set_players(i+1, players[i]);
  }
});

function set_players(pos, player) {
  var base_box = $('.box-'+pos);
  base_box.find('.player .player-name').html(player.name);
  base_box.find('.player .player-image').html(player.image);

  base_box.find('.trade-inventory .resource img').remove();
  inventory = player.market_inventory;
  for (var i = 0; i < inventory.length; i++ ) {
    base_box.find('.trade-inventory .resource').eq(i).html(inventory[i].image);
  }
}

function init_sidebar(player) {
  $('.sidebar .header-info .player-name').html(player.name);
  $('.sidebar .header-info .player-image').html(player.image);
  $('.sidebar .worker-info .title').html(player.character.name+"s:");
  $(".sidebar .worker-info .worker option[value='"+player.character.resource+"']").html(player.character.resource+" x2");
  update_sidebar(player);
}

function update_sidebar(player) {
  // Set goals

  // Set worker lives

  // Set home inventory

  // Set market inventory

  // Set trade inventory

}

</script>

