<div class="game">
  <div class="gameboard">
    <img src='images/gameboard/courtyard.png' class="board">
    {{> player_market_stand box_classes='horizontal-box box-1'}}
    {{> player_market_stand box_classes='horizontal-box box-5'}}
    {{> player_market_stand box_classes='vertical-box box-2'}}
    {{> player_market_stand box_classes='vertical-box box-6'}}
    {{> player_market_stand box_classes='horizontal-box box-3'}}
    {{> player_market_stand box_classes='horizontal-box box-7'}}
    {{> player_market_stand box_classes='vertical-box vertical-left box-4'}}
    {{> player_market_stand box_classes='vertical-box vertical-left box-8'}}

    <div class='trading-spots'>
      <div class='trade-spot' data-spot-id='0'></div>
      <div class='trade-spot' data-spot-id='1'></div>
      <div class='trade-spot' data-spot-id='2'></div>
      <div class='trade-spot' data-spot-id='3'></div>
      <div class='trade-spot' data-spot-id='4'></div>
      <div class='trade-spot' data-spot-id='5'></div>
      <div class='trade-spot' data-spot-id='6'></div>
      <div class='trade-spot' data-spot-id='7'></div>
    </div>
    <img src='images/misc/cat-thryn.png' class="layout cat">
  </div>
  <div class="sidebar">
    <img src='images/gameboard/sidebar.png' class="layout">
    <div class="section header-info">
      <div class='player-name'></div>
      <div class='player-image'></div>
      <div class="food-requirement">
        <div class='label'>Food:</div>
        <div class='resource-list'>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
        </div>
      </div>
      <div class="victory-point-requirement">
        <div class='label'>Victory Point:</div>
        <div class='resource-list'>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
        </div>
      </div>
    </div>
    <div class="section worker-info">
      <div class='title'></div>
      <div class='strikes'>
        <div class='dead'></div>
        <div class='dead'></div>
        <div class='dead'></div>
        <div class='dead'></div>
      </div>
      <div class="worker-list">
         <div class='worker'>
          <select id='worker1'>
            {{~#each game.resources~}}
              <option value="{{this}}">{{this}}</option>
            {{~/each~}}
          </select>
        </div>
         <div class='worker'>
          <select id='worker2'>
            {{~#each game.resources~}}
              <option value="{{this}}">{{this}}</option>
            {{~/each~}}
          </select>
        </div>
         <div class='worker'>
          <select id='worker3'>
            {{~#each game.resources~}}
              <option value="{{this}}">{{this}}</option>
            {{~/each~}}
          </select>
        </div>
         <div class='worker'>
          <select id='worker4'>
            {{~#each game.resources~}}
              <option value="{{this}}">{{this}}</option>
            {{~/each~}}
          </select>
        </div>
      </div>
      <button class='abs worker-done'>Done</button>
    </div>
    <div class="section home-inventory">
      <div class='title'>Resources:</div>
      <div class='resource-long-list'>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
      </div>
    </div>
    <div class="section market-inventory">
      <div class='title'>Resources at market:</div>
      <div class='resource-list'>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
        <div class='resource'></div>
      </div>
    </div>
    <div class="section tradebox">
      <div class='title'>Trading:</div>
      <div class="my-trade">
        <div class='resource-list'>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
        </div>
      </div>

      <div class="their-trade">
        <div class="player-image"></div>
        <div class="player-name"></div>
        <div class='resource-list'>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
          <div class='resource'></div>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
var socket = io.connect("{{root_url}}");
var player_id = localStorage.getItem("playerID");
var needs_initialization = true;

socket.on('connect', function(data) {
  socket.emit('get-match-data', player_id);
});

var review;
socket.on('match-data', function(data) {
  review = data;

  // DEBUG
  if (needs_initialization) {
    player_id = data.game.players[Math.floor(Math.random() * data.game.players.length)].uniq_id;
  }

  players = data.game.players;

  $('.gameboard .trading-spots .trade-spot').html('');
  for (var i=0; i < players.length; i++) {
    set_players(i+1, players[i]);
    if (players[i].uniq_id == player_id) {
      if (needs_initialization) {
        init_sidebar(players[i]);
      }
      update_sidebar(players[i]);
      update_sidebar_trade(players[i], data.game.trading_post)
    }
  }
});

$('.worker-done').click(function() {
  var farming = [
    $('#worker1 option:selected').val(),
    $('#worker2 option:selected').val(),
    $('#worker3 option:selected').val(),
    $('#worker4 option:selected').val()
  ];
  socket.emit('player-ready', player_id, {"farming": farming});
});

var testest = null;
$('.home-inventory .resource, .market-inventory .resource').click(function(obj) {
  testest = obj;
  resource_element = $(obj.currentTarget).find('img')
  if (resource_element) {
    resource_id = resource_element.data('resource-id');
    if (resource_id) {
      socket.emit('resource-selected', player_id, {"resource_id": resource_id});
    }
  }
})

$('.trade-spot').click(function(obj) {
  testest = obj;
  spot_id = $(obj.currentTarget).data('spot-id');
  if (spot_id != null) {
    socket.emit('trade-spot-selected', player_id, {"trade_spot_id": spot_id});
  }
});

$('.cat').click(function() {
  alert("Cat-thryn says 'Meow!'");
})

function set_players(pos, player) {
  var base_box = $('.box-'+pos);
  base_box.find('.player .player-name').html(player.name);
  if (player.trade_post_id == null) {
    base_box.find('.player .player-image').html(player.image);
  } else {
    base_box.find('.player .player-image').html('');
    $('.gameboard .trading-spots .trade-spot').eq(player.trade_post_id).html(player.image);
  }
  base_box.find('.player .player-image-marker').html(player.image);

  base_box.find('.trade-inventory .resource img').remove();
  inventory = player.market_inventory;
  for (var i = 0; i < inventory.length; i++ ) {
    if (inventory[i] != null) {
      base_box.find('.trade-inventory .resource').eq(i).html(inventory[i].image);
    } else {
      base_box.find('.trade-inventory .resource').eq(i).html('');
    }
  }
}

function init_sidebar(player) {
  $('.sidebar .header-info .player-name').html(player.name);
  $('.sidebar .header-info .player-image').html(player.image);
  $('.sidebar .worker-info .title').html(player.character.name+"s:");
  $(".sidebar .worker-info .worker option[value='"+player.character.resource+"']").html(player.character.resource+" x2");
  needs_initialization = false;
}

function update_sidebar(player) {
  // Set goals
  food_goal = player.food_goal
  for (var i = 0; i < food_goal.length; i++ ) {
    var img = resource_image(food_goal[i]);
    $('.sidebar .header-info .food-requirement .resource').eq(i).html(img);
  }
  victory_goal = player.victory_goal
  for (var i = 0; i < victory_goal.length; i++ ) {
    var img = resource_image(victory_goal[i]);
    $('.sidebar .header-info .victory-point-requirement .resource').eq(i).html(img);
  }

  // Set worker lives
  times_poisoned = 3 - player.extra_lives;
  for (var i = 0; i < times_poisoned; i++ ) {
    $('.sidebar .worker-info .dead').eq(i).html(resource_image('hit'));
    $('.sidebar .worker-list select').eq(3-i).prop('disabled', 'disabled');
  }

  // Set home inventory
  home_inventory = player.home_inventory
  for (var i = 0; i < home_inventory.length; i++ ) {
    if (home_inventory[i] != null) {
      $('.sidebar .home-inventory .resource').eq(i).html(home_inventory[i].image);
    } else {
      $('.sidebar .home-inventory .resource').eq(i).html('');
    }
  }
  // Set market inventory
  market_inventory = player.market_inventory
  for (var i = 0; i < market_inventory.length; i++ ) {
    if (market_inventory[i] != null) {
      $('.sidebar .market-inventory .resource').eq(i).html(market_inventory[i].image);
    } else {
      $('.sidebar .market-inventory .resource').eq(i).html('');
    }
  }
}

function update_sidebar_trade(player, traders) {
  // Set trade inventory
  trade_inventory = player.trade_inventory
  for (var i = 0; i < trade_inventory.length; i++ ) {
    if (trade_inventory[i] != null) {
      $('.sidebar .tradebox .my-trade .resource').eq(i).html(trade_inventory[i].image);
    } else {
      $('.sidebar .tradebox .my-trade .resource').eq(i).html('');
    }
  }

  // Set traders inventory
  // check if trading
  var post_id = player.trade_post_id
  $('.sidebar .tradebox .their-trade .resource').html('');
  $('.sidebar .tradebox .their-trade .player-name').html('');
  $('.sidebar .tradebox .their-trade .player-image').html('');
  if (post_id != null) {
    other_post_id = (post_id % 2 == 0) ? post_id + 1 : post_id - 1
    other_trader = traders[other_post_id]
    if (other_trader != null) {

      $('.sidebar .tradebox .their-trade .player-name').html(other_trader.name + " the " + other_trader.character.name);
      $('.sidebar .tradebox .their-trade .player-image').html(other_trader.image);

      traders_inventory = other_trader.trade_inventory
      $('.sidebar .tradebox .their-trade .resource').html('');
      for (var i = 0; i < traders_inventory.length; i++ ) {
        if (traders_inventory[i] != null) {
          $('.sidebar .tradebox .their-trade .resource').eq(i).html(traders_inventory[i].image);
        }
      }
    }
  }
}

function resource_image(resource) {
  return "<img src='images/resources/"+resource+".png'>"
}

</script>

