.gameboard {
  position: absolute;
  top: 0px;
  left: 0px;
}

.resource.poisoned::before {
  content: url('/images/resources/infected.gif');
  position: absolute;
}

.board {
  z-index: 0;
}

.trade-box {
  position: absolute;
  z-index: 1;
  /*opacity: .5;*/
}

.horizontal-box {
  width: 157px;
  height: 76px;
}

.vertical-box {
  width: 105;
  height: 150px;
}

.player {
  position: absolute;
  z-index: 2;
  background: green;
}

.player .player-image, .player .player-image-marker {
  position: absolute;
  top: 0px;
  left: 0px;
}

.player-image-marker {
  opacity: .5;
}

.player .player-name {
  position: absolute;
  top: -13px;
  left: -73px;
  font-size: 12px;
  width: 178px;
  z-index: 4;
  text-align: center;
}

.vertical-left .player .player-name {
  /*left: -70px;*/
}

.horizontal-box .player {
  top: 14px;
}

.vertical-box .player {
  top: 16px;
}

.vertical-left .player {
  left: 73px;
}

.box-1 {
  left: 149px;
  top: 0px;
}

.box-5 {
  left: 405px;
  top: 0px;
}

.box-2 {
  left: 615px;
  top: 144px;
} 

.box-6 {
  left: 615px;
  top: 371px;
}

.box-3 {
  left: 443px;
  top: 628px;
}

.box-7 {
  left: 143px;
  top: 628px;
}

.box-4 {
  left: 0px;
  top: 400px;
}

.box-8 {
  left: 0px;
  top: 148px;
}


.trade-inventory {
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 3;
}

.gameboard .resource {
  position: absolute;
  left: 40px;
  top: 21px;
}

.gameboard.resource:nth-child(4n+1) {
  left: 40px;
}

.gameboard .resource:nth-child(4n+2) {
  left: 69px;
}

.gameboard .resource:nth-child(4n+3) {
  left: 98px;
}

.gameboard .resource:nth-child(4n+4) {
  left: 126px;
}

.gameboard .resource:nth-child(1n+5) {
  top: 50px;
}


.vertical-box .resource {
  position: absolute;
  left: 37px;
  top: 34px;
}

.vertical-box .resource:nth-child(2n) {
  left: 66px;
}

.vertical-box .resource:nth-child(2n+1) {
  left: 37px;
}

.vertical-box .resource:nth-child(n+3) {
   top: 63px;
}

.vertical-box .resource:nth-child(n+5) {
   top: 92px;
}

.vertical-box .resource:nth-child(n+7) {
  top: 121px;
}

.vertical-left .resource:nth-child(2n) {
  left: 47px;
}

.vertical-left .resource:nth-child(2n+1) {
  left: 18px;
}

.trade-spot {
  width: 38px;
  height: 20px;
  border: thin solid rgb(100, 80, 40);
  border-radius: 50%;
  position: absolute;
  box-shadow: inset 2px 2px 4px rgb(100,80,40);
}

.trade-spot img {
  position: absolute;
  bottom: 0px;
  left: 3px;
  z-index: 10px;
}

.trade-spot:nth-child(1) {
  left: 315px;
  top: 260px;
}

.trade-spot:nth-child(2) {
  left: 367px;
  top: 260px;
}

.trade-spot:nth-child(3) {
  left: 420px;
  top: 320px;
}

.trade-spot:nth-child(4) {
  left: 420px;
  top: 355px;
}

.trade-spot:nth-child(5) {
  left: 367px;
  top: 400px;
}

.trade-spot:nth-child(6) {
  left: 315px;
  top: 400px;
}

.trade-spot:nth-child(8) {
  left: 262px;
  top: 355px;
}
.trade-spot:nth-child(7) {
  left: 262px;
  top: 320px;
}

.cat {
  position: absolute;
  bottom: 11px;
  left: 57px;
}


