.sidebar {
  position: absolute;
  top: 0px;
  left: 719px;
  border-left: thin solid gray;
  font-size: 12px;
}

.sidebar img {
  opacity: .5;
}

.abs, .sidebar div {
  position: absolute;
}

.sidebar .section {
  left: 0px;
  width: 240px;
  border: thin solid blue;
  margin-top: -1px;
  margin-left: -1px;
}

.sidebar .layout {
  z-index: 0;
}

.sidebar .header-info {
  top: 37px;
  height: 88px;
}

.header-info .player-name {
  left: 8px;
  top: 0px;
}

.header-info .player-image {
  top: 16px;
  left: 8px;
}


.header-info .food-requirement {
  left: 51px;
  top: 12px;
}

.header-info .victory-point-requirement {
  left: 51px;
  top: 41px;
}

.header-info .resource {
  top: 4px;
}

.header-info .label {
  left: 0px;
  top: 8px;
  width: 73px;
}

.header-info .resource-list {
  left: 73px;
}

/* Worker Style */
.sidebar .worker-info {
  top: 162px;
  height: 91px;
}

.worker-info .title {
  top: -10px;
}

.worker-info .worker {
  left: 8px;
}
.worker-info .worker select {
  width: 108px;
}

.worker-info .worker:nth-child(2n+1) {
  top: 10px;
}

.worker-info .worker:nth-child(2n+2) {
  top: 50px;
}

.worker-info .worker:nth-child(n+3) {
  left: 124px;
}

.worker-info .strikes {
  top: 0px;
  right: 0px;
}

.strikes .dead {
  right: 8px;
  top: -16px;
}
.strikes .dead:nth-child(4n+2) {
  right: 37px;
}
.strikes .dead:nth-child(4n+3) {
  right: 66px;
}
.strikes .dead:nth-child(4n+4) {
  right: 95px;
}

/* Home Inventory */
.sidebar .home-inventory {
  top: 292px;
  height: 64px;
}

.home-inventory .title {
  top: -10px;
}


.home-inventory .resource-long-list {
  left: 8px;
  top: 8px;
}


/* Market Inventory*/
.sidebar .market-inventory {
  top: 391px;
  height: 64px;
}

.market-inventory .title {
  top: -10px;
}

.market-inventory .resource-list {
  top: 8px;
  left: 66px;
}


/* Trade Inventory */
.sidebar .tradebox {
  bottom: 0px;
  height: 260px;
}

.tradebox .title {
  top: 10px;
}

.sidebar .tradebox .my-trade {
  top: 34px;
  left: 114px;
}

.my-trade .resource-list {
  
}

.sidebar .tradebox .their-trade {
  top: 190px;
  left: 114px;
}

.their-trade .resource-list {
  
}



/* Shared inventory */
.resource-list .resource:nth-child(4n+1) {
  left: 0px;
}
.resource-list .resource:nth-child(4n+2) {
  left: 29px;
}
.resource-list .resource:nth-child(4n+3) {
  left: 58px;
}
.resource-list .resource:nth-child(4n+4) {
  left: 87px;
}
.resource-list .resource:nth-child(n+5) {
  top: 29px;
}

.resource-long-list .resource:nth-child(8n+1) {
  left: 0px;
}
.resource-long-list .resource:nth-child(8n+2) {
  left: 29px;
}
.resource-long-list .resource:nth-child(8n+3) {
  left: 58px;
}
.resource-long-list .resource:nth-child(8n+4) {
  left: 87px;
}
.resource-long-list .resource:nth-child(8n+5) {
  left: 116px;
}
.resource-long-list .resource:nth-child(8n+6) {
  left: 145px;
}
.resource-long-list .resource:nth-child(8n+7) {
  left: 174px;
}
.resource-long-list .resource:nth-child(8n+8) {
  left: 203px;
}
.resource-long-list .resource:nth-child(n+9) {
  top: 29px;
}